/* Large desktop */
@media (min-width: 980px) {
  body {
    padding-top: 60px;
  }
  .linediv-l {
    border-right: 1px white solid;
  }
  .linediv-r {
    border-left: 1px white solid;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .copy {
    padding: 2.5% 10%;
  }
  .linediv-l {
    border-bottom: 1px white solid;
  }
  .linediv-r {
    border-top: 1px white solid;
  }
}

/* All form factors */

/* Main body and headings */
body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.heading, .subheading {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  text-align: center;
}
p.lead {
  padding-top: 1.5%;
  font-size: 24px;
  line-height: 30px;
}
p {
  font-size: 18px;
  line-height: 24px;
}

/* Video pitch and Action */
.pitch {
  padding: 2.5% 0%;
}
.order {
  padding: 2% 0%;
}
.actions {
  background-color: #343434;
  padding: 3% 0%;
}
.video, .thermometer, .order, .social, .statistics {
  text-align: center;
}
.statistics h3, .statistics p {
  color: white;
}

/* Marketing Copy and Footer */
.copy {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: justify;
}
.asset {
  padding: 2.5% 0%;
}
.footer {
  color: #cccccc;
  text-align: center;
}
.footer p {
  font-size: 11px;
}
.footer a {
  color: #ccccff;
}


/* Flat Ribbon adapted from notedcode-bitstarter.herokuapp.com */
.github-fork-ribbon {
  position: fixed;

  /* Add a bit of padding to give some substance*/
  padding: 2px 0;

  /* Set the base colour */
  background-color: #096;

  z-index: 9999;
}
@media (max-width: 979px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .github-fork-ribbon {
    position: absolute;
    display: none;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .darkblock {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .jumbotron {
    padding: 20px 20px 20px 20px;
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top .navbar-inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the font */
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;

  /* Set the text properties */
  text-decoration: none;
  text-align: center;

  width: 300px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 4px 0;
}

.github-fork-ribbon a span.smalltext {
  font-size: 12px;
}

.github-fork-ribbon-wrapper {
  width: 200px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 52px;
  right: -73px;

  /* Rotate the banner 45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* makes AddThis centered http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */
div.addthis_toolbox {
  width:210px;
  margin: 0 auto;
}